
<div class="p-col-12 p-md-4">
  <h3>dates à saisir </h3> Du
  <p-calendar [(ngModel)]="date1"></p-calendar> au 
  <p-calendar [(ngModel)]="date2"></p-calendar>
</div>


<h3 class="first">Salles Skipper à prendre en compte</h3>
<p-multiSelect [options]="cars" [(ngModel)]="selectedCars1" defaultLabel="Sélectionner les salles" emptyFilterMessage="aucun résultat" [resetFilterOnHide]="true"
[maxSelectedLabels]=0 selectedItemsLabel= "selection : {0}" ></p-multiSelect>
<p>Salles séléctionnées: {{selectedCars1}}</p>

<router-outlet></router-outlet>


