
<div>
 <p-table  [columns]="selectedRoom" [frozenColumns]="frozenColumn" [value]="daysMonths" [scrollable]="true" scrollHeight="500px" frozenWidth="200px">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:300px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.field }} 
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
              <span *ngIf="col.field === 'Date'"> {{ rowData.Date }}  </span>
              <span *ngIf="col.field !== 'Date'" [ngStyle]="{'visibility': rowData.empty  ? ' hidden' : 'visible' }"> {{ rowData | json }}  </span>
            </td>

        </tr>
    </ng-template>
</p-table> 
<br>

<div>
    <button pButton type="button"> Sauvegarder  </button>
</div>
</div>